body{
    background-color: rgb(245, 233, 127);
    font: normal 18pt Comic;
}

header{
    color: black;
    text-align: center;
}

section{
    background-color: rgb(158, 201, 250);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.548);
    text-align: center;
}

footer{
    color: black;
    text-align: center;
    font-style: italic;
}

#but{
    text-align: center;
}

#botao{
    padding: 10px;
    border-radius: 5px;
    font-size: 12pt;
    background-color: rgb(248, 74, 74);
    color: white;
}